.footerStyles {
    width: 100%;
    max-width: 1095px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 68px 44px 70px 44px;
    background-color: var(--blue-color);
    color: white;

    & > * {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        li {
            text-align: start;
            font-size: var(--font-14-500, 14);
            font-weight: var(--font-14-500, 500);
            opacity: 0.6;
            margin-left: 0px;
            margin-right: 0px;

            &:hover {
                opacity: 1;
            }
        }
        .linkHead {
            font-size: var(--font-14-500, 14);
            font-weight: var(--font-14-500, 500);
            opacity: 1;
            margin-bottom: 20px;
        }
    }
    & > *:nth-child(2) {
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5.6rem;
    }
}

.logo {
    width: 13.5rem;
    height: auto;
}

.scrollBack {
    transition: transform .3s ease-out;

    &:hover {
        transform: translateY(-5px);
    }
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 7.5rem;
    flex-wrap: wrap;
    
    & > * {
        min-width: 170px;
    }
}

.footerP {
    font-size: var(--font-13-400, 13);
    font-weight: var(--font-13-400, 400);
    text-align: start;
    line-height: 22px;
    opacity: 0.6;
}

.footerSpan {
    font-size: var(--font-14-400, 14);
    font-weight: var(--font-14-400, 400);
    line-height: 19.6px;
    opacity: 0.6;
}

.footerSeparator {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.20);
    margin: 4rem 0;
}

.footerSocialLinks {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.iconCircle {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.10);
    transition: transform 0.3s ease;

    & > * {
        height: 1.5rem;
        width: 1.5rem;
    }
    &:hover {
        transform: rotate(15deg);
    }
}

.footerTerms {
    display: flex;
    gap: 4.3rem;

    a {
        min-width: 100px;
        text-align: start;
    }
    span:hover {
        opacity: 1;
    }
}

/* tablet responsive */
.footerStyles.tablet {
    .footerLinks {
        gap: 1rem;
    }
    &>*:nth-child(4) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

/* mobile responsive */

.footerStyles.mobile {
    &>*:nth-child(2) {
        flex-direction: column;
        gap: 1.8rem;

        &>*:last-child {
            align-self: center;
        }
    }
    &>*:nth-child(4) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .footerLinks {
        gap: 1rem;
    }
}

