.navBarStyles {
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 44px 40px;
    margin: 0 auto;
}

.navLinks {
    flex: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin: 0;
    padding: 0;
    gap: 32px;
}

.navLinks li {
    font-weight: 400;
    font-size: 16;
    color: inherit;
}

.authLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.authLinks .login {
    font-weight: 700;
    font-size: 16;
    color: inherit;
}

@media (max-width: 1250px) {
    .navLinks {
        position: static;
        transform: none;
        justify-content: center;
    }
    .navBarStyles {
        flex-wrap: wrap;
    }
}
@media (min-width: 1440px) {
    .navBarStyles {
        padding: 50px 0 44px 0;
    }
}

.blue {
    color: var(--blue-color);
}
.white {
    color: white;
}