.ReviewStats {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-family: inter;
}

.ReviewStatsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFF;
    font-family: Inter;

    & > *:first-child {
        width: 2.75rem;
        height: auto;
    }
}
.ReviewStatsContent h2 {
    font-size: 20.779px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.ReviewStatsContent p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}