.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  top: -141px;
  z-index: -1;
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: -85px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.heroContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroHeading{
  font: var(--font-weight-900) var(--font-size-116);
}